<a href="https://colab.research.google.com/github/sidchaubey/Python_Revision/blob/master/All_In_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#  print("Hello")

In [2]:
import seaborn as sns

In [4]:
import tensorflow as tf

In [5]:
tf.__version__

'2.6.0'

In [6]:
%tensorflow_version 2.x

In [9]:
%%sh

pip install jupyter
pip install lxml
pip install matplotlib
pip install pandas
pip install Pillow
pip install scikit-learn
pip install seaborn
pip install tensorflow


pip freeze > requirements.txt

Requirement already satisfied: jupyter in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from jupyter) (7.6.5)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter) (5.6.1)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.7/dist-packages (from jupyter) (5.1.1)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.7/dist-packages (from jupyter) (5.2.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.7/dist-packages (from jupyter) (5.3.1)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter) (4.10.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter) (5.1.1)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter) (5.5.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter) (5.1.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (0.8.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter) (0.7.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->jupyter) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->jupyter) (0.2.5)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter) (1.0.2)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter) (2.6.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter) (0.12.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter) (2.11.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter) (22.2.1)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook->jupyter) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook->jupyter) (2.0.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter) (0.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter) (4.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter) (0.8.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter) (21.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->bleach->nbconvert->jupyter) (2.4.7)
Requirement already satisfied: qtpy in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter) (1.11.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (7.1.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.19.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.6.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.12.0)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.19.5)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: keras~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.6.0)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: clang~=5.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (5.0)
Requirement already satisfied: grpcio<2.0,>=1.37.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.40.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12.1)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.37.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: tensorflow-estimator~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.6.0)
Requirement already satisfied: tensorboard~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.6.0)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow) (1.5.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (57.4.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (1.8.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (3.3.4)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow) (4.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.5.0)

In [16]:
path = "/content/requirements.txt"

with open(path) as f:
  data = f.readlines()


print(data)

data_without_n = []

for i in data:
  data_without_n.append(i.split("==")[0])

print(data_without_n)

['absl-py==0.12.0\n', 'alabaster==0.7.12\n', 'albumentations==0.1.12\n', 'altair==4.1.0\n', 'appdirs==1.4.4\n', 'argcomplete==1.12.3\n', 'argon2-cffi==21.1.0\n', 'arviz==0.11.2\n', 'astor==0.8.1\n', 'astropy==4.3.1\n', 'astunparse==1.6.3\n', 'atari-py==0.2.9\n', 'atomicwrites==1.4.0\n', 'attrs==21.2.0\n', 'audioread==2.1.9\n', 'autograd==1.3\n', 'Babel==2.9.1\n', 'backcall==0.2.0\n', 'beautifulsoup4==4.6.3\n', 'bleach==4.1.0\n', 'blis==0.4.1\n', 'bokeh==2.3.3\n', 'Bottleneck==1.3.2\n', 'branca==0.4.2\n', 'bs4==0.0.1\n', 'CacheControl==0.12.6\n', 'cached-property==1.5.2\n', 'cachetools==4.2.2\n', 'catalogue==1.0.0\n', 'certifi==2021.5.30\n', 'cffi==1.14.6\n', 'cftime==1.5.0\n', 'chardet==3.0.4\n', 'charset-normalizer==2.0.5\n', 'clang==5.0\n', 'click==7.1.2\n', 'cloudpickle==1.3.0\n', 'cmake==3.12.0\n', 'cmdstanpy==0.9.5\n', 'colorcet==2.0.6\n', 'colorlover==0.3.0\n', 'community==1.0.0b1\n', 'contextlib2==0.5.5\n', 'convertdate==2.3.2\n', 'coverage==3.7.1\n', 'coveralls==0.5\n', 'crcmod==1.7\n', 'cufflinks==0.17.3\n', 'cvxopt==1.2.6\n', 'cvxpy==1.0.31\n', 'cycler==0.10.0\n', 'cymem==2.0.5\n', 'Cython==0.29.24\n', 'daft==0.0.4\n', 'dask==2.12.0\n', 'datascience==0.10.6\n', 'debugpy==1.0.0\n', 'decorator==4.4.2\n', 'defusedxml==0.7.1\n', 'descartes==1.1.0\n', 'dill==0.3.4\n', 'distributed==1.25.3\n', 'dlib @ file:///dlib-19.18.0-cp37-cp37m-linux_x86_64.whl\n', 'dm-tree==0.1.6\n', 'docopt==0.6.2\n', 'docutils==0.17.1\n', 'dopamine-rl==1.0.5\n', 'earthengine-api==0.1.282\n', 'easydict==1.9\n', 'ecos==2.0.7.post1\n', 'editdistance==0.5.3\n', 'en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz\n', 'entrypoints==0.3\n', 'ephem==4.0.0.2\n', 'et-xmlfile==1.1.0\n', 'fa2==0.3.5\n', 'fastai==1.0.61\n', 'fastdtw==0.3.4\n', 'fastprogress==1.0.0\n', 'fastrlock==0.6\n', 'fbprophet==0.7.1\n', 'feather-format==0.4.1\n', 'filelock==3.0.12\n', 'firebase-admin==4.4.0\n', 'fix-yahoo-finance==0.0.22\n', 'Flask==1.1.4\n', 'flatbuffers==1.12\n', 'folium==0.8.3\n', 'future==0.16.0\n', 'gast==0.4.0\n', 'GDAL==2.2.2\n', 'gdown==3.6.4\n', 'gensim==3.6.0\n', 'geographiclib==1.52\n', 'geopy==1.17.0\n', 'gin-config==0.4.0\n', 'glob2==0.7\n', 'google==2.0.3\n', 'google-api-core==1.26.3\n', 'google-api-python-client==1.12.8\n', 'google-auth==1.35.0\n', 'google-auth-httplib2==0.0.4\n', 'google-auth-oauthlib==0.4.6\n', 'google-cloud-bigquery==1.21.0\n', 'google-cloud-bigquery-storage==1.1.0\n', 'google-cloud-core==1.0.3\n', 'google-cloud-datastore==1.8.0\n', 'google-cloud-firestore==1.7.0\n', 'google-cloud-language==1.2.0\n', 'google-cloud-storage==1.18.1\n', 'google-cloud-translate==1.5.0\n', 'google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz\n', 'google-pasta==0.2.0\n', 'google-resumable-media==0.4.1\n', 'googleapis-common-protos==1.53.0\n', 'googledrivedownloader==0.4\n', 'graphviz==0.10.1\n', 'greenlet==1.1.1\n', 'grpcio==1.40.0\n', 'gspread==3.0.1\n', 'gspread-dataframe==3.0.8\n', 'gym==0.17.3\n', 'h5py==3.1.0\n', 'HeapDict==1.0.1\n', 'hijri-converter==2.2.1\n', 'holidays==0.10.5.2\n', 'holoviews==1.14.5\n', 'html5lib==1.0.1\n', 'httpimport==0.5.18\n', 'httplib2==0.17.4\n', 'httplib2shim==0.0.3\n', 'humanize==0.5.1\n', 'hyperopt==0.1.2\n', 'ideep4py==2.0.0.post3\n', 'idna==2.10\n', 'imageio==2.4.1\n', 'imagesize==1.2.0\n', 'imbalanced-learn==0.4.3\n', 'imblearn==0.0\n', 'imgaug==0.2.9\n', 'importlib-metadata==4.8.1\n', 'importlib-resources==5.2.2\n', 'imutils==0.5.4\n', 'inflect==2.1.0\n', 'iniconfig==1.1.1\n', 'intel-openmp==2021.3.0\n', 'intervaltree==2.1.0\n', 'ipykernel==4.10.1\n', 'ipython==5.5.0\n', 'ipython-genutils==0.2.0\n', 'ipython-sql==0.3.9\n', 'ipywidgets==7.6.5\n', 'itsdangerous==1.1.0\n', 'jax==0.2.19\n', 'jaxlib @ https://storage.googleapis.com/jax-releases/cuda111/jaxlib-0.1.70+cuda111-cp37-none-manylinux2010_x86_64.whl\n', 'jdcal==1.4.1\n', 'jedi==0.18.0\n', 'jieba==0.42.1\n', 'Jinja2==2.11.3\n', 'joblib==1.0.1\n', 'jpeg4py==0.1.4\n', 'jsonschema==2.6.0\n', 'jupyter==1.0.0\n', 'jupyter-client==5.3.5\n', 'jupyter-console==5.2.0\n', 'jupyter-core==4.7.1\n', 'jupyterlab-pygments==0.1.2\n', 'jupyterlab-widgets==1.0.2\n', 'kaggle==1.5.12\n', 'kapre==0.3.5\n', 'keras==2.6.0\n', 'Keras-Preprocessing==1.1.2\n', 'keras-vis==0.4.1\n', 'kiwisolver==1.3.2\n', 'korean-lunar-calendar==0.2.1\n', 'librosa==0.8.1\n', 'lightgbm==2.2.3\n', 'llvmlite==0.34.0\n', 'lmdb==0.99\n', 'LunarCalendar==0.0.9\n', 'lxml==4.2.6\n', 'Markdown==3.3.4\n', 'MarkupSafe==2.0.1\n', 'matplotlib==3.2.2\n', 'matplotlib-inline==0.1.3\n', 'matplotlib-venn==0.11.6\n', 'missingno==0.5.0\n', 'mistune==0.8.4\n', 'mizani==0.6.0\n', 'mkl==2019.0\n', 'mlxtend==0.14.0\n', 'more-itertools==8.9.0\n', 'moviepy==0.2.3.5\n', 'mpmath==1.2.1\n', 'msgpack==1.0.2\n', 'multiprocess==0.70.12.2\n', 'multitasking==0.0.9\n', 'murmurhash==1.0.5\n', 'music21==5.5.0\n', 'natsort==5.5.0\n', 'nbclient==0.5.4\n', 'nbconvert==5.6.1\n', 'nbformat==5.1.3\n', 'nest-asyncio==1.5.1\n', 'netCDF4==1.5.7\n', 'networkx==2.6.3\n', 'nibabel==3.0.2\n', 'nltk==3.2.5\n', 'notebook==5.3.1\n', 'numba==0.51.2\n', 'numexpr==2.7.3\n', 'numpy==1.19.5\n', 'nvidia-ml-py3==7.352.0\n', 'oauth2client==4.1.3\n', 'oauthlib==3.1.1\n', 'okgrade==0.4.3\n', 'opencv-contrib-python==4.1.2.30\n', 'opencv-python==4.1.2.30\n', 'openpyxl==2.5.9\n', 'opt-einsum==3.3.0\n', 'osqp==0.6.2.post0\n', 'packaging==21.0\n', 'palettable==3.3.0\n', 'pandas==1.1.5\n', 'pandas-datareader==0.9.0\n', 'pandas-gbq==0.13.3\n', 'pandas-profiling==1.4.1\n', 'pandocfilters==1.5.0\n', 'panel==0.12.1\n', 'param==1.11.1\n', 'parso==0.8.2\n', 'pathlib==1.0.1\n', 'patsy==0.5.1\n', 'pep517==0.11.0\n', 'pexpect==4.8.0\n', 'pickleshare==0.7.5\n', 'Pillow==7.1.2\n', 'pip-tools==6.2.0\n', 'plac==1.1.3\n', 'plotly==4.4.1\n', 'plotnine==0.6.0\n', 'pluggy==0.7.1\n', 'pooch==1.5.1\n', 'portpicker==1.3.9\n', 'prefetch-generator==1.0.1\n', 'preshed==3.0.5\n', 'prettytable==2.2.0\n', 'progressbar2==3.38.0\n', 'prometheus-client==0.11.0\n', 'promise==2.3\n', 'prompt-toolkit==1.0.18\n', 'protobuf==3.17.3\n', 'psutil==5.4.8\n', 'psycopg2==2.7.6.1\n', 'ptyprocess==0.7.0\n', 'py==1.10.0\n', 'pyarrow==3.0.0\n', 'pyasn1==0.4.8\n', 'pyasn1-modules==0.2.8\n', 'pycocotools==2.0.2\n', 'pycparser==2.20\n', 'pyct==0.4.8\n', 'pydata-google-auth==1.2.0\n', 'pydot==1.3.0\n', 'pydot-ng==2.0.0\n', 'pydotplus==2.0.2\n', 'PyDrive==1.3.1\n', 'pyemd==0.5.1\n', 'pyerfa==2.0.0\n', 'pyglet==1.5.0\n', 'Pygments==2.6.1\n', 'pygobject==3.26.1\n', 'pymc3==3.11.4\n', 'PyMeeus==0.5.11\n', 'pymongo==3.12.0\n', 'pymystem3==0.2.0\n', 'PyOpenGL==3.1.5\n', 'pyparsing==2.4.7\n', 'pyrsistent==0.18.0\n', 'pysndfile==1.3.8\n', 'PySocks==1.7.1\n', 'pystan==2.19.1.1\n', 'pytest==3.6.4\n', 'python-apt==0.0.0\n', 'python-chess==0.23.11\n', 'python-dateutil==2.8.2\n', 'python-louvain==0.15\n', 'python-slugify==5.0.2\n', 'python-utils==2.5.6\n', 'pytz==2018.9\n', 'pyviz-comms==2.1.0\n', 'PyWavelets==1.1.1\n', 'PyYAML==3.13\n', 'pyzmq==22.2.1\n', 'qdldl==0.1.5.post0\n', 'qtconsole==5.1.1\n', 'QtPy==1.11.1\n', 'regex==2019.12.20\n', 'requests==2.23.0\n', 'requests-oauthlib==1.3.0\n', 'resampy==0.2.2\n', 'retrying==1.3.3\n', 'rpy2==3.4.5\n', 'rsa==4.7.2\n', 'scikit-image==0.16.2\n', 'scikit-learn==0.22.2.post1\n', 'scipy==1.4.1\n', 'screen-resolution-extra==0.0.0\n', 'scs==2.1.4\n', 'seaborn==0.11.2\n', 'semver==2.13.0\n', 'Send2Trash==1.8.0\n', 'setuptools-git==1.2\n', 'Shapely==1.7.1\n', 'simplegeneric==0.8.1\n', 'six==1.15.0\n', 'sklearn==0.0\n', 'sklearn-pandas==1.8.0\n', 'smart-open==5.2.1\n', 'snowballstemmer==2.1.0\n', 'sortedcontainers==2.4.0\n', 'SoundFile==0.10.3.post1\n', 'spacy==2.2.4\n', 'Sphinx==1.8.5\n', 'sphinxcontrib-serializinghtml==1.1.5\n', 'sphinxcontrib-websupport==1.2.4\n', 'SQLAlchemy==1.4.23\n', 'sqlparse==0.4.2\n', 'srsly==1.0.5\n', 'statsmodels==0.10.2\n', 'sympy==1.7.1\n', 'tables==3.4.4\n', 'tabulate==0.8.9\n', 'tblib==1.7.0\n', 'tensorboard==2.6.0\n', 'tensorboard-data-server==0.6.1\n', 'tensorboard-plugin-wit==1.8.0\n', 'tensorflow @ file:///tensorflow-2.6.0-cp37-cp37m-linux_x86_64.whl\n', 'tensorflow-datasets==4.0.1\n', 'tensorflow-estimator==2.6.0\n', 'tensorflow-gcs-config==2.6.0\n', 'tensorflow-hub==0.12.0\n', 'tensorflow-metadata==1.2.0\n', 'tensorflow-probability==0.13.0\n', 'termcolor==1.1.0\n', 'terminado==0.12.1\n', 'testpath==0.5.0\n', 'text-unidecode==1.3\n', 'textblob==0.15.3\n', 'Theano-PyMC==1.1.2\n', 'thinc==7.4.0\n', 'tifffile==2021.8.30\n', 'toml==0.10.2\n', 'tomli==1.2.1\n', 'toolz==0.11.1\n', 'torch @ https://download.pytorch.org/whl/cu102/torch-1.9.0%2Bcu102-cp37-cp37m-linux_x86_64.whl\n', 'torchsummary==1.5.1\n', 'torchtext==0.10.0\n', 'torchvision @ https://download.pytorch.org/whl/cu102/torchvision-0.10.0%2Bcu102-cp37-cp37m-linux_x86_64.whl\n', 'tornado==5.1.1\n', 'tqdm==4.62.2\n', 'traitlets==5.1.0\n', 'tweepy==3.10.0\n', 'typeguard==2.7.1\n', 'typing-extensions==3.7.4.3\n', 'tzlocal==1.5.1\n', 'uritemplate==3.0.1\n', 'urllib3==1.24.3\n', 'vega-datasets==0.9.0\n', 'wasabi==0.8.2\n', 'wcwidth==0.2.5\n', 'webencodings==0.5.1\n', 'Werkzeug==1.0.1\n', 'widgetsnbextension==3.5.1\n', 'wordcloud==1.5.0\n', 'wrapt==1.12.1\n', 'xarray==0.18.2\n', 'xgboost==0.90\n', 'xkit==0.0.0\n', 'xlrd==1.1.0\n', 'xlwt==1.3.0\n', 'yellowbrick==0.9.1\n', 'zict==2.0.0\n', 'zipp==3.5.0\n']
['absl-py', 'alabaster', 'albumentations', 'altair', 'appdirs', 'argcomplete', 'argon2-cffi', 'arviz', 'astor', 'astropy', 'astunparse', 'atari-py', 'atomicwrites', 'attrs', 'audioread', 'autograd', 'Babel', 'backcall', 'beautifulsoup4', 'bleach', 'blis', 'bokeh', 'Bottleneck', 'branca', 'bs4', 'CacheControl', 'cached-property', 'cachetools', 'catalogue', 'certifi', 'cffi', 'cftime', 'chardet', 'charset-normalizer', 'clang', 'click', 'cloudpickle', 'cmake', 'cmdstanpy', 'colorcet', 'colorlover', 'community', 'contextlib2', 'convertdate', 'coverage', 'coveralls', 'crcmod', 'cufflinks', 'cvxopt', 'cvxpy', 'cycler', 'cymem', 'Cython', 'daft', 'dask', 'datascience', 'debugpy', 'decorator', 'defusedxml', 'descartes', 'dill', 'distributed', 'dlib @ file:///dlib-19.18.0-cp37-cp37m-linux_x86_64.whl\n', 'dm-tree', 'docopt', 'docutils', 'dopamine-rl', 'earthengine-api', 'easydict', 'ecos', 'editdistance', 'en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz\n', 'entrypoints', 'ephem', 'et-xmlfile', 'fa2', 'fastai', 'fastdtw', 'fastprogress', 'fastrlock', 'fbprophet', 'feather-format', 'filelock', 'firebase-admin', 'fix-yahoo-finance', 'Flask', 'flatbuffers', 'folium', 'future', 'gast', 'GDAL', 'gdown', 'gensim', 'geographiclib', 'geopy', 'gin-config', 'glob2', 'google', 'google-api-core', 'google-api-python-client', 'google-auth', 'google-auth-httplib2', 'google-auth-oauthlib', 'google-cloud-bigquery', 'google-cloud-bigquery-storage', 'google-cloud-core', 'google-cloud-datastore', 'google-cloud-firestore', 'google-cloud-language', 'google-cloud-storage', 'google-cloud-translate', 'google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz\n', 'google-pasta', 'google-resumable-media', 'googleapis-common-protos', 'googledrivedownloader', 'graphviz', 'greenlet', 'grpcio', 'gspread', 'gspread-dataframe', 'gym', 'h5py', 'HeapDict', 'hijri-converter', 'holidays', 'holoviews', 'html5lib', 'httpimport', 'httplib2', 'httplib2shim', 'humanize', 'hyperopt', 'ideep4py', 'idna', 'imageio', 'imagesize', 'imbalanced-learn', 'imblearn', 'imgaug', 'importlib-metadata', 'importlib-resources', 'imutils', 'inflect', 'iniconfig', 'intel-openmp', 'intervaltree', 'ipykernel', 'ipython', 'ipython-genutils', 'ipython-sql', 'ipywidgets', 'itsdangerous', 'jax', 'jaxlib @ https://storage.googleapis.com/jax-releases/cuda111/jaxlib-0.1.70+cuda111-cp37-none-manylinux2010_x86_64.whl\n', 'jdcal', 'jedi', 'jieba', 'Jinja2', 'joblib', 'jpeg4py', 'jsonschema', 'jupyter', 'jupyter-client', 'jupyter-console', 'jupyter-core', 'jupyterlab-pygments', 'jupyterlab-widgets', 'kaggle', 'kapre', 'keras', 'Keras-Preprocessing', 'keras-vis', 'kiwisolver', 'korean-lunar-calendar', 'librosa', 'lightgbm', 'llvmlite', 'lmdb', 'LunarCalendar', 'lxml', 'Markdown', 'MarkupSafe', 'matplotlib', 'matplotlib-inline', 'matplotlib-venn', 'missingno', 'mistune', 'mizani', 'mkl', 'mlxtend', 'more-itertools', 'moviepy', 'mpmath', 'msgpack', 'multiprocess', 'multitasking', 'murmurhash', 'music21', 'natsort', 'nbclient', 'nbconvert', 'nbformat', 'nest-asyncio', 'netCDF4', 'networkx', 'nibabel', 'nltk', 'notebook', 'numba', 'numexpr', 'numpy', 'nvidia-ml-py3', 'oauth2client', 'oauthlib', 'okgrade', 'opencv-contrib-python', 'opencv-python', 'openpyxl', 'opt-einsum', 'osqp', 'packaging', 'palettable', 'pandas', 'pandas-datareader', 'pandas-gbq', 'pandas-profiling', 'pandocfilters', 'panel', 'param', 'parso', 'pathlib', 'patsy', 'pep517', 'pexpect', 'pickleshare', 'Pillow', 'pip-tools', 'plac', 'plotly', 'plotnine', 'pluggy', 'pooch', 'portpicker', 'prefetch-generator', 'preshed', 'prettytable', 'progressbar2', 'prometheus-client', 'promise', 'prompt-toolkit', 'protobuf', 'psutil', 'psycopg2', 'ptyprocess', 'py', 'pyarrow', 'pyasn1', 'pyasn1-modules', 'pycocotools', 'pycparser', 'pyct', 'pydata-google-auth', 'pydot', 'pydot-ng', 'pydotplus', 'PyDrive', 'pyemd', 'pyerfa', 'pyglet', 'Pygments', 'pygobject', 'pymc3', 'PyMeeus', 'pymongo', 'pymystem3', 'PyOpenGL', 'pyparsing', 'pyrsistent', 'pysndfile', 'PySocks', 'pystan', 'pytest', 'python-apt', 'python-chess', 'python-dateutil', 'python-louvain', 'python-slugify', 'python-utils', 'pytz', 'pyviz-comms', 'PyWavelets', 'PyYAML', 'pyzmq', 'qdldl', 'qtconsole', 'QtPy', 'regex', 'requests', 'requests-oauthlib', 'resampy', 'retrying', 'rpy2', 'rsa', 'scikit-image', 'scikit-learn', 'scipy', 'screen-resolution-extra', 'scs', 'seaborn', 'semver', 'Send2Trash', 'setuptools-git', 'Shapely', 'simplegeneric', 'six', 'sklearn', 'sklearn-pandas', 'smart-open', 'snowballstemmer', 'sortedcontainers', 'SoundFile', 'spacy', 'Sphinx', 'sphinxcontrib-serializinghtml', 'sphinxcontrib-websupport', 'SQLAlchemy', 'sqlparse', 'srsly', 'statsmodels', 'sympy', 'tables', 'tabulate', 'tblib', 'tensorboard', 'tensorboard-data-server', 'tensorboard-plugin-wit', 'tensorflow @ file:///tensorflow-2.6.0-cp37-cp37m-linux_x86_64.whl\n', 'tensorflow-datasets', 'tensorflow-estimator', 'tensorflow-gcs-config', 'tensorflow-hub', 'tensorflow-metadata', 'tensorflow-probability', 'termcolor', 'terminado', 'testpath', 'text-unidecode', 'textblob', 'Theano-PyMC', 'thinc', 'tifffile', 'toml', 'tomli', 'toolz', 'torch @ https://download.pytorch.org/whl/cu102/torch-1.9.0%2Bcu102-cp37-cp37m-linux_x86_64.whl\n', 'torchsummary', 'torchtext', 'torchvision @ https://download.pytorch.org/whl/cu102/torchvision-0.10.0%2Bcu102-cp37-cp37m-linux_x86_64.whl\n', 'tornado', 'tqdm', 'traitlets', 'tweepy', 'typeguard', 'typing-extensions', 'tzlocal', 'uritemplate', 'urllib3', 'vega-datasets', 'wasabi', 'wcwidth', 'webencodings', 'Werkzeug', 'widgetsnbextension', 'wordcloud', 'wrapt', 'xarray', 'xgboost', 'xkit', 'xlrd', 'xlwt', 'yellowbrick', 'zict', 'zipp']

In [17]:
print("The number of packages preinstalled in colab are: ", len(data))

The number of packages preinstalled in colab are:  384

In [20]:
print('pandas' in data_without_n)
print("numpy" in data_without_n)

True
True

# Numpy

In [23]:
import numpy as np

lst = list(range(100))

print("Type of List: ", type(lst))
num_array = np.array(lst)
print(num_array)
print("Type of numpy array: ",type(num_array))

Type of List:  <class 'list'>
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
Type of numpy array:  <class 'numpy.ndarray'>

In [24]:
%%timeit

[i**2 for i in lst]

10000 loops, best of 5: 24.7 Âµs per loop

In [26]:
%%timeit

num_array**2

The slowest run took 31.17 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 908 ns per loop

In [27]:
# 2-D matrix

lst_2d = [[1,2,3], [4,5,6]]

num_array2d = np.array(lst_2d)
print(num_array2d)
print(num_array2d.ndim)
print(num_array2d.shape)

[[1 2 3]
 [4 5 6]]
2
(2, 3)

In [31]:
num_arange = np.arange(start=0,stop=100, step=2)
num_arange

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66,
       68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

In [35]:
# Numpy array containing zeros

print(np.zeros(3))
print("\n\n")
print(np.zeros((4,4)))
print("\n\n")
print(np.zeros((4,4,4)))

[0. 0. 0.]



[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]



[[[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]

In [37]:
print(np.ones((1,4)))

[[1. 1. 1. 1.]]

In [39]:
np.linspace(0,10,10)

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [40]:
# Random

np.random.rand(100)

array([0.09350082, 0.96221813, 0.14228896, 0.10213096, 0.82796047,
       0.67072653, 0.33099002, 0.96170447, 0.8396554 , 0.36144859,
       0.68437683, 0.22822517, 0.7563542 , 0.74311086, 0.77206335,
       0.21384808, 0.44307845, 0.54624669, 0.18472809, 0.61397214,
       0.2086608 , 0.53002909, 0.48739103, 0.04359501, 0.10178127,
       0.9219625 , 0.13525815, 0.47802411, 0.88804619, 0.23158344,
       0.35337488, 0.67271782, 0.32537259, 0.57866089, 0.55614272,
       0.36100395, 0.42473838, 0.73426612, 0.66626626, 0.19977216,
       0.0802183 , 0.81863084, 0.22556851, 0.62541337, 0.61558855,
       0.87051603, 0.52152611, 0.242935  , 0.51205268, 0.14078287,
       0.18710753, 0.3995985 , 0.168682  , 0.08448166, 0.30840509,
       0.70398085, 0.32507747, 0.77015783, 0.77029232, 0.48197848,
       0.2444908 , 0.32838958, 0.37796489, 0.74793173, 0.44704187,
       0.31181512, 0.06550329, 0.59616569, 0.34227694, 0.42526755,
       0.42210175, 0.97437436, 0.91116036, 0.3265563 , 0.56766921,
       0.37617769, 0.62326035, 0.15897458, 0.99069524, 0.96108683,
       0.45890629, 0.97544328, 0.01356755, 0.62769756, 0.21954272,
       0.86467502, 0.14829654, 0.65881299, 0.97450565, 0.83699122,
       0.72244035, 0.86613356, 0.01143443, 0.02590383, 0.37339721,
       0.71070399, 0.71284801, 0.25007799, 0.89296349, 0.68448702])

In [41]:
np.random.rand(100)

array([0.8555444 , 0.42554401, 0.69043068, 0.22863864, 0.99380076,
       0.67469027, 0.89421389, 0.35039517, 0.89334209, 0.41895304,
       0.61217392, 0.514194  , 0.41904843, 0.8420032 , 0.6932197 ,
       0.19874263, 0.17636084, 0.46816496, 0.00189431, 0.95241545,
       0.9727813 , 0.27145776, 0.38429186, 0.3754964 , 0.36244689,
       0.48899164, 0.95654665, 0.23531976, 0.72314439, 0.92305138,
       0.84749482, 0.41790375, 0.47106497, 0.1924532 , 0.16514342,
       0.48382496, 0.47304099, 0.98476894, 0.5113662 , 0.19970573,
       0.17318296, 0.46396656, 0.12667752, 0.7002859 , 0.35001611,
       0.72303199, 0.78480878, 0.56937176, 0.65953012, 0.66325564,
       0.25666411, 0.96396571, 0.24449374, 0.32373977, 0.0306233 ,
       0.55979323, 0.80206018, 0.5477916 , 0.9865828 , 0.46015517,
       0.64524314, 0.84974704, 0.83896768, 0.86649559, 0.36239633,
       0.56307446, 0.28500024, 0.50469862, 0.41333345, 0.42591611,
       0.72426838, 0.5020566 , 0.30652968, 0.68286755, 0.8666947 ,
       0.44667807, 0.44181027, 0.21016694, 0.85980327, 0.40383972,
       0.60417302, 0.2583862 , 0.44317471, 0.47619977, 0.48756306,
       0.0434593 , 0.21519525, 0.15840667, 0.37984579, 0.2972584 ,
       0.08966984, 0.47295967, 0.40287558, 0.7015055 , 0.72931706,
       0.1512969 , 0.16420116, 0.3719307 , 0.42596965, 0.50389445])

In [46]:
np.random.seed(0)

print(np.random.rand(10))

[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548  0.64589411
 0.43758721 0.891773   0.96366276 0.38344152]

In [45]:
np.random.seed(0)

print(np.random.rand(10))

[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548  0.64589411
 0.43758721 0.891773   0.96366276 0.38344152]

In [44]:
print(np.random.randn(10))
print(np.random.randn(10))

[ 1.49407907 -0.20515826  0.3130677  -0.85409574 -2.55298982  0.6536186
  0.8644362  -0.74216502  2.26975462 -1.45436567]
[ 0.04575852 -0.18718385  1.53277921  1.46935877  0.15494743  0.37816252
 -0.88778575 -1.98079647 -0.34791215  0.15634897]

In [48]:
np.random.randint(0, 100, 100)

array([79, 47, 64, 82, 99, 88, 49, 29, 19, 19, 14, 39, 32, 65,  9, 57, 32,
       31, 74, 23, 35, 75, 55, 28, 34,  0,  0, 36, 53,  5, 38, 17, 79,  4,
       42, 58, 31,  1, 65, 41, 57, 35, 11, 46, 82, 91,  0, 14, 99, 53, 12,
       42, 84, 75, 68,  6, 68, 47,  3, 76, 52, 78, 15, 20, 99, 58, 23, 79,
       13, 85, 48, 49, 69, 41, 35, 64, 95, 69, 94,  0, 50, 36, 34, 48, 93,
        3, 98, 42, 77, 21, 73,  0, 10, 43, 58, 23, 59,  2, 98, 62])

In [49]:
a = np.random.randint(0, 100, 100)
a.shape

(100,)

In [50]:
a.reshape(10,10)

array([[35, 94, 67, 82, 46, 99, 20, 81, 50, 27],
       [14, 41, 58, 65, 36, 10, 86, 43, 11,  2],
       [51, 80, 32, 54,  0, 38, 19, 46, 42, 56],
       [60, 77, 30, 24,  2,  3, 94, 98, 13, 40],
       [72, 19, 95, 72, 26, 66, 52, 67, 61, 14],
       [96,  4, 67, 11, 86, 77, 75, 56, 16, 24],
       [29, 21, 25, 80, 60, 61, 83, 33, 32, 70],
       [85, 31, 13, 71, 56, 24, 79, 41, 18, 40],
       [54, 79, 11, 38, 93,  1, 95, 44, 88, 24],
       [67, 82,  3, 76, 35, 86, 61, 69, 87, 43]])

In [52]:
a.reshape(10,5,2)

array([[[35, 94],
        [67, 82],
        [46, 99],
        [20, 81],
        [50, 27]],

       [[14, 41],
        [58, 65],
        [36, 10],
        [86, 43],
        [11,  2]],

       [[51, 80],
        [32, 54],
        [ 0, 38],
        [19, 46],
        [42, 56]],

       [[60, 77],
        [30, 24],
        [ 2,  3],
        [94, 98],
        [13, 40]],

       [[72, 19],
        [95, 72],
        [26, 66],
        [52, 67],
        [61, 14]],

       [[96,  4],
        [67, 11],
        [86, 77],
        [75, 56],
        [16, 24]],

       [[29, 21],
        [25, 80],
        [60, 61],
        [83, 33],
        [32, 70]],

       [[85, 31],
        [13, 71],
        [56, 24],
        [79, 41],
        [18, 40]],

       [[54, 79],
        [11, 38],
        [93,  1],
        [95, 44],
        [88, 24]],

       [[67, 82],
        [ 3, 76],
        [35, 86],
        [61, 69],
        [87, 43]]])

In [53]:
a.min()

0

In [54]:
a.max()

99

In [55]:
a.argmin()

24

In [56]:
a.argmax()

5

In [58]:
a[a.argmin()]

0

In [59]:
a[a.argmax()]

99

In [60]:
# indexing

print(a[0])
print(a[-1])
print(a[len(a)-1])
print(a[:10])
print(a[::-1])
print(a[::])

35
43
43
[35 94 67 82 46 99 20 81 50 27]
[43 87 69 61 86 35 76  3 82 67 24 88 44 95  1 93 38 11 79 54 40 18 41 79
 24 56 71 13 31 85 70 32 33 83 61 60 80 25 21 29 24 16 56 75 77 86 11 67
  4 96 14 61 67 52 66 26 72 95 19 72 40 13 98 94  3  2 24 30 77 60 56 42
 46 19 38  0 54 32 80 51  2 11 43 86 10 36 65 58 41 14 27 50 81 20 99 46
 82 67 94 35]
[35 94 67 82 46 99 20 81 50 27 14 41 58 65 36 10 86 43 11  2 51 80 32 54
  0 38 19 46 42 56 60 77 30 24  2  3 94 98 13 40 72 19 95 72 26 66 52 67
 61 14 96  4 67 11 86 77 75 56 16 24 29 21 25 80 60 61 83 33 32 70 85 31
 13 71 56 24 79 41 18 40 54 79 11 38 93  1 95 44 88 24 67 82  3 76 35 86
 61 69 87 43]

In [65]:
# Broadcasting

a = np.arange(10)
b = np.arange(10).reshape(-1, 1)

print(a.shape)
print(b.shape)

c = a+b
print(c)

(10,)
(10, 1)
[[ 0  1  2  3  4  5  6  7  8  9]
 [ 1  2  3  4  5  6  7  8  9 10]
 [ 2  3  4  5  6  7  8  9 10 11]
 [ 3  4  5  6  7  8  9 10 11 12]
 [ 4  5  6  7  8  9 10 11 12 13]
 [ 5  6  7  8  9 10 11 12 13 14]
 [ 6  7  8  9 10 11 12 13 14 15]
 [ 7  8  9 10 11 12 13 14 15 16]
 [ 8  9 10 11 12 13 14 15 16 17]
 [ 9 10 11 12 13 14 15 16 17 18]]

In [69]:
c>10

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
         True],
       [False, False, False, False, False, False, False, False,  True,
         True],
       [False, False, False, False, False, False, False,  True,  True,
         True],
       [False, False, False, False, False, False,  True,  True,  True,
         True],
       [False, False, False, False, False,  True,  True,  True,  True,
         True],
       [False, False, False, False,  True,  True,  True,  True,  True,
         True],
       [False, False, False,  True,  True,  True,  True,  True,  True,
         True],
       [False, False,  True,  True,  True,  True,  True,  True,  True,
         True]])

In [70]:
c[c>10]

array([11, 11, 12, 11, 12, 13, 11, 12, 13, 14, 11, 12, 13, 14, 15, 11, 12,
       13, 14, 15, 16, 11, 12, 13, 14, 15, 16, 17, 11, 12, 13, 14, 15, 16,
       17, 18])

In [72]:
# Numpy Operations

np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [73]:
np.tanh(a)

array([0.        , 0.76159416, 0.96402758, 0.99505475, 0.9993293 ,
       0.9999092 , 0.99998771, 0.99999834, 0.99999977, 0.99999997])

In [74]:
a-2

array([-2, -1,  0,  1,  2,  3,  4,  5,  6,  7])

In [75]:
a-b

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [-1,  0,  1,  2,  3,  4,  5,  6,  7,  8],
       [-2, -1,  0,  1,  2,  3,  4,  5,  6,  7],
       [-3, -2, -1,  0,  1,  2,  3,  4,  5,  6],
       [-4, -3, -2, -1,  0,  1,  2,  3,  4,  5],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-6, -5, -4, -3, -2, -1,  0,  1,  2,  3],
       [-7, -6, -5, -4, -3, -2, -1,  0,  1,  2],
       [-8, -7, -6, -5, -4, -3, -2, -1,  0,  1],
       [-9, -8, -7, -6, -5, -4, -3, -2, -1,  0]])

In [76]:
a*b

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18],
       [ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27],
       [ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36],
       [ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 0,  6, 12, 18, 24, 30, 36, 42, 48, 54],
       [ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63],
       [ 0,  8, 16, 24, 32, 40, 48, 56, 64, 72],
       [ 0,  9, 18, 27, 36, 45, 54, 63, 72, 81]])

In [82]:
d = a/a
d

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [83]:
type(d[0])

numpy.float64

In [84]:
d[0]

nan

In [85]:
f = 1/a
f

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [86]:
np.sqrt(a)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [87]:
np.square(a)

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [89]:
print(a)

np.cumsum(a)

[0 1 2 3 4 5 6 7 8 9]

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45])

In [90]:
a.cumprod()

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [92]:
np.count_nonzero(a)

9

In [93]:
a.var()

8.25

In [94]:
a.std(
)

2.8722813232690143

In [95]:
a.mean()

4.5

In [97]:
np.median(a)

4.5

In [101]:
from scipy.stats import mode

v = np.random.randint(0,10, 10000)
mode(v)

ModeResult(mode=array([9]), count=array([1042]))

In [107]:
from collections import Counter

print(Counter(v))

print(Counter(v)[9])

Counter({9: 1042, 8: 1041, 1: 1034, 5: 1022, 3: 1005, 6: 989, 7: 975, 2: 970, 0: 963, 4: 959})
1042

In [112]:
from collections import defaultdict

a = defaultdict(lambda x: [])
a

defaultdict(<function __main__.<lambda>>, {})

# Pandas

In [113]:
!wget https://www.bis.org/statistics/full_bis_lbs_diss_csv.zip

--2021-09-19 20:14:18--  https://www.bis.org/statistics/full_bis_lbs_diss_csv.zip
Resolving www.bis.org (www.bis.org)... 185.58.128.7
Connecting to www.bis.org (www.bis.org)|185.58.128.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/octet-stream]
Saving to: âfull_bis_lbs_diss_csv.zipâ

full_bis_lbs_diss_c     [   <=>              ]  52.35M  9.45MB/s    in 7.2s

2021-09-19 20:14:26 (7.23 MB/s) - âfull_bis_lbs_diss_csv.zipâ saved [54894511]

In [114]:
!unzip /content/full_bis_lbs_diss_csv.zip

Archive:  /content/full_bis_lbs_diss_csv.zip
  inflating: WEBSTATS_LBS_D_PUB_DATAFLOW_csv_col.csv

In [115]:
import pandas as pd

df = pd.read_csv("/content/WEBSTATS_LBS_D_PUB_DATAFLOW_csv_col.csv")
df.head()

  FREQ  Frequency L_MEASURE  ...   2020-Q3  2020-Q4   2021-Q1
0    Q  Quarterly         F  ...   -28.299 -388.690  -347.531
1    Q  Quarterly         F  ... -2013.523 -212.637 -2089.863
2    Q  Quarterly         F  ...   -23.363   -0.001     0.016
3    Q  Quarterly         F  ...  -591.110  -38.659  -417.187
4    Q  Quarterly         F  ...    -3.461   -0.317    -4.694

[5 rows x 199 columns]

In [116]:
df.shape

(282863, 199)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282863 entries, 0 to 282862
Columns: 199 entries, FREQ to 2021-Q1
dtypes: float64(174), object(25)
memory usage: 429.5+ MB

In [121]:
df.describe()

             1977-Q4        1978-Q1  ...       2020-Q4       2021-Q1
count   11993.000000   24324.000000  ...  2.356060e+05  2.338180e+05
mean     4767.375135    2417.093270  ...  3.993199e+04  4.041286e+04
std     30649.186664   22026.271811  ...  9.266695e+05  9.167538e+05
min    -44673.000000  -42983.000000  ... -2.288355e+05 -3.086983e+05
25%        12.000000       0.954000  ... -1.000000e-03  0.000000e+00
50%        86.000000      15.150000  ...  1.968000e+00  2.000000e+00
75%       679.000000     184.000000  ...  1.682933e+02  1.750000e+02
max    846506.000000  870151.000000  ...  1.234148e+08  1.217076e+08

[8 rows x 174 columns]

In [122]:
df.columns

Index(['FREQ', 'Frequency', 'L_MEASURE', 'Measure', 'L_POSITION',
       'Balance sheet position', 'L_INSTR', 'Type of instruments', 'L_DENOM',
       'Currency denomination',
       ...
       '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020-Q1',
       '2020-Q2', '2020-Q3', '2020-Q4', '2021-Q1'],
      dtype='object', length=199)

In [134]:
null_count = pd.DataFrame(df.isna().sum())

In [145]:
import seaborn as sns
import plotly.express as px


fig = px.bar(x=null_count.values.ravel(), y=null_count.index.ravel());
fig.show()

In [150]:
null_count.columns = ["count"]
null_count

            count
FREQ            0
Frequency       0
L_MEASURE       0
Measure         0
L_POSITION      0
...           ...
2020-Q1     48134
2020-Q2     48534
2020-Q3     48479
2020-Q4     47257
2021-Q1     49045

[199 rows x 1 columns]

In [165]:
print(len(null_count[null_count["count"]>0].index))
null_columns = null_count[null_count["count"]>0].index

175

In [166]:
df_null = df.loc[:, null_columns]

In [157]:
non_null_columns = null_count[null_count["count"]==0].index

In [160]:
df_non_null = df.loc[:, non_null_columns]
df_non_null.head()

  FREQ  Frequency  ... Position type                   Time Period
0    Q  Quarterly  ...  Cross-border  Q:F:C:A:CHF:A:5J:A:5A:A:1C:N
1    Q  Quarterly  ...  Cross-border  Q:F:C:A:CHF:A:5J:A:5A:A:1N:N
2    Q  Quarterly  ...  Cross-border  Q:F:C:A:CHF:A:5J:A:5A:A:1W:N
3    Q  Quarterly  ...  Cross-border  Q:F:C:A:CHF:A:5J:A:5A:A:1Z:N
4    Q  Quarterly  ...  Cross-border  Q:F:C:A:CHF:A:5J:A:5A:A:2B:N

[5 rows x 24 columns]

In [161]:
df_non_null.dtypes

FREQ                                  object
Frequency                             object
L_MEASURE                             object
Measure                               object
L_POSITION                            object
Balance sheet position                object
L_INSTR                               object
Type of instruments                   object
L_DENOM                               object
Currency denomination                 object
L_CURR_TYPE                           object
Currency type of reporting country    object
L_PARENT_CTY                          object
Parent country                        object
L_REP_BANK_TYPE                       object
Type of reporting institutions        object
L_REP_CTY                             object
Reporting country                     object
L_CP_SECTOR                           object
Counterparty sector                   object
Counterparty country                  object
L_POS_TYPE                            object
Position type                         object
Time Period                           object
dtype: object

In [171]:
dict_val = {}

for i in df_non_null.dtypes:
  if i not in dict_val:
    dict_val[i] = 1
  else:
    dict_val[i] +=1

print(dict_val)

{dtype('O'): 24}

* Conclusion: **None of the columns have number value are all non-null**

In [167]:
df_null.head()

  L_CP_COUNTRY  1977-Q4  1978-Q1  ...   2020-Q3  2020-Q4   2021-Q1
0           1C      NaN   -1.725  ...   -28.299 -388.690  -347.531
1           1N      NaN  -72.318  ... -2013.523 -212.637 -2089.863
2           1W      NaN      NaN  ...   -23.363   -0.001     0.016
3           1Z      NaN    2.900  ...  -591.110  -38.659  -417.187
4           2B      NaN -186.138  ...    -3.461   -0.317    -4.694

[5 rows x 175 columns]

In [168]:
df_null.dtypes

L_CP_COUNTRY     object
1977-Q4         float64
1978-Q1         float64
1978-Q2         float64
1978-Q3         float64
                 ...
2020-Q1         float64
2020-Q2         float64
2020-Q3         float64
2020-Q4         float64
2021-Q1         float64
Length: 175, dtype: object

In [170]:
dict_val = {}

for i in df_null.dtypes:
  if i not in dict_val:
    dict_val[i] = 1
  else:
    dict_val[i] +=1

print(dict_val)

{dtype('O'): 1, dtype('float64'): 174}

* Conclusion : **Mainly null values are for numeric data type**

> Indented block

In [172]:
df["L_CP_COUNTRY"].value_counts()

5J    21719
CN     1270
PA     1268
KY     1264
SG     1264
      ...
DD      264
2S      250
2T      234
2U      222
2D       92
Name: L_CP_COUNTRY, Length: 245, dtype: int64

In [177]:
df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum()

                1977-Q4
L_CP_COUNTRY
1C              77255.0
1N            1071182.0
1W                 56.0
1Z               3457.0
2B              50060.0
...                 ...
YE               7717.0
YU              44921.0
ZA              76575.0
ZM               5541.0
ZW                831.0

[245 rows x 1 columns]

In [181]:
df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().iloc[df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().values.argmax()]

1977-Q4    29101573.0
Name: 5J, dtype: float64

In [191]:
df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().iloc[df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().values.argmax()].index
df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().iloc[df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().values.argmax()].values
# df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().iloc[df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().values.argmax()].name

array([29101573.])

In [182]:
df[["L_CP_COUNTRY", "1977-Q4"]].groupby("L_CP_COUNTRY").sum().max()

1977-Q4    29101573.0
dtype: float64

* Conclusion: *SJ has highest overall value for quarter four year 1977*

In [195]:
print(f"Quarter: {df[['L_CP_COUNTRY', '1977-Q4']].groupby('L_CP_COUNTRY').sum().iloc[df[['L_CP_COUNTRY', '1977-Q4']].groupby('L_CP_COUNTRY').sum().values.argmax()].index},\
Name: {df[['L_CP_COUNTRY', '1977-Q4']].groupby('L_CP_COUNTRY').sum().iloc[df[['L_CP_COUNTRY', '1977-Q4']].groupby('L_CP_COUNTRY').sum().values.argmax()].name}, \
Value: {df[['L_CP_COUNTRY', '1977-Q4']].groupby('L_CP_COUNTRY').sum().iloc[df[['L_CP_COUNTRY', '1977-Q4']].groupby('L_CP_COUNTRY').sum().values.argmax()].values[0]}")

Quarter: Index(['1977-Q4'], dtype='object'),Name: 5J, Value: 29101573.0

In [213]:
for i in null_columns[1:]:
    # print(df[["L_CP_COUNTRY", i]].groupby("L_CP_COUNTRY").sum().iloc[df[["L_CP_COUNTRY", i]].groupby("L_CP_COUNTRY").sum().values.argmax()])
    # print(df[["L_CP_COUNTRY", i]].groupby("L_CP_COUNTRY").sum().iloc[df[["L_CP_COUNTRY", i]].groupby("L_CP_COUNTRY").sum().values.argmax()])
    print(f"Quarter: {df[['L_CP_COUNTRY', i]].groupby('L_CP_COUNTRY').sum().iloc[df[['L_CP_COUNTRY', i]].groupby('L_CP_COUNTRY').sum().values.argmax()].index[0]}, \
  Name: {df[['L_CP_COUNTRY', i]].groupby('L_CP_COUNTRY').sum().iloc[df[['L_CP_COUNTRY', i]].groupby('L_CP_COUNTRY').sum().values.argmax()].name}, \
  Value: {df[['L_CP_COUNTRY', i]].groupby('L_CP_COUNTRY').sum().iloc[df[['L_CP_COUNTRY', i]].groupby('L_CP_COUNTRY').sum().values.argmax()].values[0]}")

Quarter: 1977-Q4,   Name: 5J,   Value: 29101573.0
Quarter: 1978-Q1,   Name: 5J,   Value: 30301061.323
Quarter: 1978-Q2,   Name: 5J,   Value: 31835785.667999998
Quarter: 1978-Q3,   Name: 5J,   Value: 35605926.980000004
Quarter: 1978-Q4,   Name: 5J,   Value: 40498808.525
Quarter: 1979-Q1,   Name: 5J,   Value: 37646804.922
Quarter: 1979-Q2,   Name: 5J,   Value: 42667686.774000004
Quarter: 1979-Q3,   Name: 5J,   Value: 47789333.39
Quarter: 1979-Q4,   Name: 5J,   Value: 50681582.999
Quarter: 1980-Q1,   Name: 5J,   Value: 51458288.636
Quarter: 1980-Q2,   Name: 5J,   Value: 54319161.543
Quarter: 1980-Q3,   Name: 5J,   Value: 56407413.382
Quarter: 1980-Q4,   Name: 5J,   Value: 61907426.186000004
Quarter: 1981-Q1,   Name: 5J,   Value: 61749650.191
Quarter: 1981-Q2,   Name: 5J,   Value: 60721474.508
Quarter: 1981-Q3,   Name: 5J,   Value: 66077840.45
Quarter: 1981-Q4,   Name: 5J,   Value: 70805192.373
Quarter: 1982-Q1,   Name: 5J,   Value: 72000682.809
Quarter: 1982-Q2,   Name: 5J,   Value: 68241262.042
Quarter: 1982-Q3,   Name: 5J,   Value: 74857649.781
Quarter: 1982-Q4,   Name: 5J,   Value: 66392654.495
Quarter: 1983-Q1,   Name: 5J,   Value: 75616552.53999999
Quarter: 1983-Q2,   Name: 5J,   Value: 98319962.32299998
Quarter: 1983-Q3,   Name: 5J,   Value: 91848710.92899999
Quarter: 1983-Q4,   Name: 5J,   Value: 109912290.713
Quarter: 1984-Q1,   Name: 5J,   Value: 112873248.518
Quarter: 1984-Q2,   Name: 5J,   Value: 112147422.271
Quarter: 1984-Q3,   Name: 5J,   Value: 109611271.684
Quarter: 1984-Q4,   Name: 5J,   Value: 113404849.732
Quarter: 1985-Q1,   Name: 5J,   Value: 118359038.227
Quarter: 1985-Q2,   Name: 5J,   Value: 114098138.932
Quarter: 1985-Q3,   Name: 5J,   Value: 125879034.157
Quarter: 1985-Q4,   Name: 5J,   Value: 136989586.79799998
Quarter: 1986-Q1,   Name: 5J,   Value: 141623726.701
Quarter: 1986-Q2,   Name: 5J,   Value: 146127475.18199998
Quarter: 1986-Q3,   Name: 5J,   Value: 170367825.298
Quarter: 1986-Q4,   Name: 5J,   Value: 178305778.73499998
Quarter: 1987-Q1,   Name: 5J,   Value: 184444368.12300003
Quarter: 1987-Q2,   Name: 5J,   Value: 195327505.689
Quarter: 1987-Q3,   Name: 5J,   Value: 208404778.816
Quarter: 1987-Q4,   Name: 5J,   Value: 223167385.112
Quarter: 1988-Q1,   Name: 5J,   Value: 223919427.541
Quarter: 1988-Q2,   Name: 5J,   Value: 219894725.74899998
Quarter: 1988-Q3,   Name: 5J,   Value: 238784695.95699996
Quarter: 1988-Q4,   Name: 5J,   Value: 234385454.30699998
Quarter: 1989-Q1,   Name: 5J,   Value: 257188679.135
Quarter: 1989-Q2,   Name: 5J,   Value: 236052353.694
Quarter: 1989-Q3,   Name: 5J,   Value: 264446844.57
Quarter: 1989-Q4,   Name: 5J,   Value: 281863112.838
Quarter: 1990-Q1,   Name: 5J,   Value: 286912525.1
Quarter: 1990-Q2,   Name: 5J,   Value: 281418513.968
Quarter: 1990-Q3,   Name: 5J,   Value: 319725168.625
Quarter: 1990-Q4,   Name: 5J,   Value: 327864981.99
Quarter: 1991-Q1,   Name: 5J,   Value: 303949060.482
Quarter: 1991-Q2,   Name: 5J,   Value: 284528995.88699996
Quarter: 1991-Q3,   Name: 5J,   Value: 299574499.556
Quarter: 1991-Q4,   Name: 5J,   Value: 316414361.271
Quarter: 1992-Q1,   Name: 5J,   Value: 300172795.18700004
Quarter: 1992-Q2,   Name: 5J,   Value: 302208626.366
Quarter: 1992-Q3,   Name: 5J,   Value: 334575062.689
Quarter: 1992-Q4,   Name: 5J,   Value: 307859894.481
Quarter: 1993-Q1,   Name: 5J,   Value: 307001367.297
Quarter: 1993-Q2,   Name: 5J,   Value: 298678200.686
Quarter: 1993-Q3,   Name: 5J,   Value: 321160649.423
Quarter: 1993-Q4,   Name: 5J,   Value: 320639984.337
Quarter: 1994-Q1,   Name: 5J,   Value: 324866151.63600004
Quarter: 1994-Q2,   Name: 5J,   Value: 326457145.26600003
Quarter: 1994-Q3,   Name: 5J,   Value: 349511614.635
Quarter: 1994-Q4,   Name: 5J,   Value: 365894821.912
Quarter: 1995-Q1,   Name: 5J,   Value: 396201752.131
Quarter: 1995-Q2,   Name: 5J,   Value: 395630242.02099997
Quarter: 1995-Q3,   Name: 5J,   Value: 394941541.925
Quarter: 1995-Q4,   Name: 5J,   Value: 490689981.309
Quarter: 1996-Q1,   Name: 5J,   Value: 495353582.74899995
Quarter: 1996-Q2,   Name: 5J,   Value: 484066203.75699997
Quarter: 1996-Q3,   Name: 5J,   Value: 501320638.801
Quarter: 1996-Q4,   Name: 5J,   Value: 517339778.847
Quarter: 1997-Q1,   Name: 5J,   Value: 539530979.182
Quarter: 1997-Q2,   Name: 5J,   Value: 538674298.027
Quarter: 1997-Q3,   Name: 5J,   Value: 534505543.255
Quarter: 1997-Q4,   Name: 5J,   Value: 590691646.707
Quarter: 1998-Q1,   Name: 5J,   Value: 556552882.956
Quarter: 1998-Q2,   Name: 5J,   Value: 580946614.6229999
Quarter: 1998-Q3,   Name: 5J,   Value: 602239852.128
Quarter: 1998-Q4,   Name: 5J,   Value: 586165730.791
Quarter: 1999-Q1,   Name: 5J,   Value: 575014459.526
Quarter: 1999-Q2,   Name: 5J,   Value: 567876314.265
Quarter: 1999-Q3,   Name: 5J,   Value: 597698934.052
Quarter: 1999-Q4,   Name: 5J,   Value: 606596389.498
Quarter: 2000-Q1,   Name: 5J,   Value: 645648762.4849999
Quarter: 2000-Q2,   Name: 5J,   Value: 631818268.399
Quarter: 2000-Q3,   Name: 5J,   Value: 628482982.342
Quarter: 2000-Q4,   Name: 5J,   Value: 674120455.345
Quarter: 2001-Q1,   Name: 5J,   Value: 726659697.763
Quarter: 2001-Q2,   Name: 5J,   Value: 657953094.298
Quarter: 2001-Q3,   Name: 5J,   Value: 684196971.039
Quarter: 2001-Q4,   Name: 5J,   Value: 719784358.132
Quarter: 2002-Q1,   Name: 5J,   Value: 715166429.5339999
Quarter: 2002-Q2,   Name: 5J,   Value: 766208535.108
Quarter: 2002-Q3,   Name: 5J,   Value: 767906638.584
Quarter: 2002-Q4,   Name: 5J,   Value: 829354363.3629999
Quarter: 2003-Q1,   Name: 5J,   Value: 896283932.1520002
Quarter: 2003-Q2,   Name: 5J,   Value: 941736271.2059999
Quarter: 2003-Q3,   Name: 5J,   Value: 918506044.4620001
Quarter: 2003-Q4,   Name: 5J,   Value: 1010468284.3609998
Quarter: 2004-Q1,   Name: 5J,   Value: 1127693229.6349998
Quarter: 2004-Q2,   Name: 5J,   Value: 1073863974.0279999
Quarter: 2004-Q3,   Name: 5J,   Value: 1092459930.3370001
Quarter: 2004-Q4,   Name: 5J,   Value: 1189674563.187
Quarter: 2005-Q1,   Name: 5J,   Value: 1284123136.5709999
Quarter: 2005-Q2,   Name: 5J,   Value: 1285063556.3579998
Quarter: 2005-Q3,   Name: 5J,   Value: 1295976425.398
Quarter: 2005-Q4,   Name: 5J,   Value: 1294549917.3789997
Quarter: 2006-Q1,   Name: 5J,   Value: 1471245290.5979998
Quarter: 2006-Q2,   Name: 5J,   Value: 1492133740.8349996
Quarter: 2006-Q3,   Name: 5J,   Value: 1525138199.8279998
Quarter: 2006-Q4,   Name: 5J,   Value: 1612622615.531
Quarter: 2007-Q1,   Name: 5J,   Value: 1846619639.3229995
Quarter: 2007-Q2,   Name: 5J,   Value: 1854561077.4100006
Quarter: 2007-Q3,   Name: 5J,   Value: 1981766927.7200003
Quarter: 2007-Q4,   Name: 5J,   Value: 2074623882.9559999
Quarter: 2008-Q1,   Name: 5J,   Value: 2271175550.943
Quarter: 2008-Q2,   Name: 5J,   Value: 2040359708.4750001
Quarter: 2008-Q3,   Name: 5J,   Value: 2030304577.8769999
Quarter: 2008-Q4,   Name: 5J,   Value: 1783566782.095
Quarter: 2009-Q1,   Name: 5J,   Value: 1732995118.6840003
Quarter: 2009-Q2,   Name: 5J,   Value: 1791797312.173
Quarter: 2009-Q3,   Name: 5J,   Value: 1817957937.757
Quarter: 2009-Q4,   Name: 5J,   Value: 1784424931.074
Quarter: 2010-Q1,   Name: 5J,   Value: 1817742577.8709998
Quarter: 2010-Q2,   Name: 5J,   Value: 1740428736.7500002
Quarter: 2010-Q3,   Name: 5J,   Value: 1904882372.5160003
Quarter: 2010-Q4,   Name: 5J,   Value: 1814907709.2149994
Quarter: 2011-Q1,   Name: 5J,   Value: 1941553271.1110024
Quarter: 2011-Q2,   Name: 5J,   Value: 1914645915.684
Quarter: 2011-Q3,   Name: 5J,   Value: 1982366532.0640001
Quarter: 2011-Q4,   Name: 5J,   Value: 1811232381.985
Quarter: 2012-Q1,   Name: 5J,   Value: 1893757861.8839989
Quarter: 2012-Q2,   Name: 5J,   Value: 3250930417.334003
Quarter: 2012-Q3,   Name: 5J,   Value: 3357751350.7059984
Quarter: 2012-Q4,   Name: 5J,   Value: 3333247735.504004
Quarter: 2013-Q1,   Name: 5J,   Value: 3280262090.1940007
Quarter: 2013-Q2,   Name: 5J,   Value: 3252999930.044998
Quarter: 2013-Q3,   Name: 5J,   Value: 3334803762.394997
Quarter: 2013-Q4,   Name: 5J,   Value: 4831767789.951008
Quarter: 2014-Q1,   Name: 5J,   Value: 5164557458.542002
Quarter: 2014-Q2,   Name: 5J,   Value: 5200789743.462993
Quarter: 2014-Q3,   Name: 5J,   Value: 4964938910.204999
Quarter: 2014-Q4,   Name: 5J,   Value: 5233253017.118985
Quarter: 2015-Q1,   Name: 5J,   Value: 5157350516.483998
Quarter: 2015-Q2,   Name: 5J,   Value: 5027894965.588
Quarter: 2015-Q3,   Name: 5J,   Value: 5044213398.558009
Quarter: 2015-Q4,   Name: 5J,   Value: 5018675515.73001
Quarter: 2016-Q1,   Name: 5J,   Value: 5367538313.806003
Quarter: 2016-Q2,   Name: 5J,   Value: 5466057243.1519985
Quarter: 2016-Q3,   Name: 5J,   Value: 5447656907.622988
Quarter: 2016-Q4,   Name: 5J,   Value: 5169886393.242978
Quarter: 2017-Q1,   Name: 5J,   Value: 5525487006.601995
Quarter: 2017-Q2,   Name: 5J,   Value: 5601090629.744003
Quarter: 2017-Q3,   Name: 5J,   Value: 5761983020.797998
Quarter: 2017-Q4,   Name: 5J,   Value: 5844094170.88699
Quarter: 2018-Q1,   Name: 5J,   Value: 6170850206.774035
Quarter: 2018-Q2,   Name: 5J,   Value: 5890686233.173009
Quarter: 2018-Q3,   Name: 5J,   Value: 5802880394.606001
Quarter: 2018-Q4,   Name: 5J,   Value: 5819637389.956993
Quarter: 2019-Q1,   Name: 5J,   Value: 6030169776.604994
Quarter: 2019-Q2,   Name: 5J,   Value: 6082863329.932984
Quarter: 2019-Q3,   Name: 5J,   Value: 6055501942.53797
Quarter: 2019-Q4,   Name: 5J,   Value: 5979172582.690003
Quarter: 2020-Q1,   Name: 5J,   Value: 6577487893.333979
Quarter: 2020-Q2,   Name: 5J,   Value: 6467696856.9419985
Quarter: 2020-Q3,   Name: 5J,   Value: 6743792044.003997
Quarter: 2020-Q4,   Name: 5J,   Value: 7075951054.345968
Quarter: 2021-Q1,   Name: 5J,   Value: 7077488061.256006

In [204]:
categorical_columns = list(df_non_null.columns)
categorical_columns.append(list(df_null.columns)[0])
print(categorical_columns)

['FREQ', 'Frequency', 'L_MEASURE', 'Measure', 'L_POSITION', 'Balance sheet position', 'L_INSTR', 'Type of instruments', 'L_DENOM', 'Currency denomination', 'L_CURR_TYPE', 'Currency type of reporting country', 'L_PARENT_CTY', 'Parent country', 'L_REP_BANK_TYPE', 'Type of reporting institutions', 'L_REP_CTY', 'Reporting country', 'L_CP_SECTOR', 'Counterparty sector', 'Counterparty country', 'L_POS_TYPE', 'Position type', 'Time Period', 'L_CP_COUNTRY']

In [214]:

# for j in categorical_columns:
#   for i in null_columns[1:]:
#     print(f"Quarter: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].index[0]}, \
#   Name: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].name}, \
#   Value: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].values[0]}")

In [215]:

# for j in categorical_columns:
#   for i in null_columns[1:]:
#     print(f"Categorical Column: {j}\
#     ,Numeric Column: {i}, \
#     Quarter: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].index[0]}, \
#   Name: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].name}, \
#   Value: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].values[0]:.2f}")

In [233]:
with open("minvalue.txt", "w") as f:
  pass

with open("minvalue.txt", "a") as f:
  for j in categorical_columns[0:5]: # Iterating through just five categorical column as it takes quite a lot of time to run cell
    for i in null_columns[1:]:
      f.writelines(f"Categorical Column: {j}\
      ,Numeric Column: {i}, \
      Quarter: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmin()].index[0]}, \
    Name: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmin()].name}, \
    Value: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmin()].values[0]:.2f}\n")

In [234]:
with open("maxvalue.txt", "w") as f:
  pass

with open("maxvalue.txt", "a") as f:
  for j in categorical_columns[0:5]: # Iterating through just five categorical column as it takes quite a lot of time to run cell
    for i in null_columns[1:]:
      f.writelines(f"Categorical Column: {j}\
      ,Numeric Column: {i}, \
      Quarter: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].index[0]}, \
    Name: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].name}, \
    Value: {df[[j, i]].groupby(j).sum().iloc[df[[j, i]].groupby(j).sum().values.argmax()].values[0]:.2f}\n")

In [235]:
df["L_POSITION"].value_counts()

L    144708
C    138155
Name: L_POSITION, dtype: int64